@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("./rarity.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Jost", sans-serif;
    color: #fff;
    user-select: none;
}

body {
    background-color: #202225;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 9999px;
    border: 0.25rem solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(66 66 66 / 0.815);
    border-radius: 9999px;
    border: 0.25rem solid transparent;
    background-clip: padding-box;
}

.gap-bullet {
    @apply gap-1;
}

.gap-bullet::after {
    content: "";
    margin-left: 0.25rem;
    height: 5px;
    width: 5px;
    background: white;
    border-radius: 100%;
}
